@model Maquillaje.Entities.Entities.tbClientes

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Actualizar cliente</h2>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end mb-2">
            <a asp-action="Index">Regresar al index</a>
        </div>
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="clie_Id" />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="clie_Nombres" class="control-label"></label>
                    <input asp-for="clie_Nombres" class="form-control" />
                    <span asp-validation-for="clie_Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="clie_Apellidos" class="control-label"></label>
                    <input asp-for="clie_Apellidos" class="form-control" />
                    <span asp-validation-for="clie_Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="clie_Identidad" class="control-label"></label>
                    <input asp-for="clie_Identidad" class="form-control" />
                    <span asp-validation-for="clie_Identidad" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="clie_Sexo" class="control-label">Sexo:</label>
                    <div>
                        <input type="radio" asp-for="clie_Sexo" value="M" /> Masculino
                        <input type="radio" asp-for="clie_Sexo" value="F" /> Femenino
                    </div>
                    <span asp-validation-for="clie_Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="depa_Id" class="control-label"></label>
                    <select asp-for="depa_Id" class="form-control" asp-items="ViewBag.depa_Id">
                        <option value="">-- Seleccione un departamento --</option>
                    </select>
                    <span asp-validation-for="depa_Id" class="text-danger" />
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="muni_Id" name="muni_Id" class="control-label"></label>
                    <select asp-for="muni_Id" class="form-control"></select>
                    <span asp-validation-for="muni_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="clie_DireccionExacta" class="control-label"></label>
                    <input asp-for="clie_DireccionExacta" class="form-control" />
                    <span asp-validation-for="clie_DireccionExacta" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="clie_Telefono" class="control-label"></label>
                    <input asp-for="clie_Telefono" class="form-control" />
                    <span asp-validation-for="clie_Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-6 mt-3">
                    <label asp-for="clie_CorreoElectronico" class="control-label"></label>
                    <input asp-for="clie_CorreoElectronico" class="form-control" />
                    <span asp-validation-for="clie_CorreoElectronico" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Guardar cambios" id="btnGuardar" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>

@if (TempData["Script"] != null)
{
    <script>
    $(function () {
        @Html.Raw(TempData["Script"]);
    });
    </script>
}

<script src="~/js/app/maqu/Clientes.js"></script>