@model Maquillaje.WebUI.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Crear empleado</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="empe_Nombres" class="control-label"></label>
                        <input asp-for="empe_Nombres" class="form-control" />
                        <span asp-validation-for="empe_Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_Apellidos" class="control-label"></label>
                        <input asp-for="empe_Apellidos" class="form-control" />
                        <span asp-validation-for="empe_Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_Identidad" class="control-label"></label>
                        <input asp-for="empe_Identidad" class="form-control" />
                        <span asp-validation-for="empe_Identidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_FechaNacimiento" class="control-label"></label>
                        <input asp-for="empe_FechaNacimiento" class="form-control" type="date" />
                        <span asp-validation-for="empe_FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_Sexo" class="control-label">Sexo:</label>
                        <div>
                            <input type="radio" asp-for="empe_Sexo" value="M" /> Hombre
                            <input type="radio" asp-for="empe_Sexo" value="M" /> Mujer
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="estacivi_Id" class="control-label"></label>
                        <select asp-for="estacivi_Id" class="form-control" asp-items="ViewBag.estacivi_Id">
                            <option value="">-- Seleccione un estado civil --</option>
                        </select>
                        <span asp-validation-for="estacivi_Id" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Departamento Id</label>
                        <label asp-for="muni" class="control-label"></label>
                        <select asp-for="muni" class="form-control" asp-items="ViewBag.depa_Id">
                            <option value="">-- Seleccione un departamento --</option>
                        </select>
                        <span asp-validation-for="muni" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="muni_Id" class="control-label">Municipio Id</label>
                        <select id="muni_Id" name="muni_Id" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_Direccion" class="control-label"></label>
                        <input asp-for="empe_Direccion" class="form-control" />
                        <span asp-validation-for="empe_Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_Telefono" class="control-label"></label>
                        <input asp-for="empe_Telefono" class="form-control" />
                        <span asp-validation-for="empe_Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="empe_CorreoElectronico" class="control-label"></label>
                        <input asp-for="empe_CorreoElectronico" class="form-control" />
                        <span asp-validation-for="empe_CorreoElectronico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ddlMunicipios").prop("disabled", true);
        $('#muni').change(function () {
            var departamentoId = $("#muni").val();
            $.getJSON('/Empleado/CargarMunicipios', { id: departamentoId })
                .done(function (municipios) {
                    $("#muni_Id").prop("disabled", false);
                    var municipiosSelect = $('#muni_Id');
                    municipiosSelect.empty(); 
                    municipiosSelect.append($('<option>', {
                        value: '',
                        text: '--Selecciona un municipio--'
                    }));
                    $.each(municipios, function (index, item) {
                        municipiosSelect.append($('<option>', {
                            value: item.muni_id,
                            text:  item.muni_Nombre
                        }));
                        console.log(item.muni_Id)
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                });
        });
    });


</script>