@model Maquillaje.Entities.Entities.VW_gral_tbDepartamentos_VW
<!-- Modal -->
<div class="modal fade" id="EditarDepartamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form method="post" asp-controller="Departamento" asp-action="Edit" id="formEdit">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input hidden asp-for="depa_Id" id="depa_Id_Edit" class="form-control" maxlength="2" />
                        <label name="lbl_depa_Id_EditError" id="lbl_depa_Id_EditError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                        <label name="lbl_depa_Id_EditError1" id="lbl_depa_Id_EditError1" class="control-label" hidden style="color: red;">Ingrese un ID Valido</label>

                        <div class="form-group col-6">
                            <label asp-for="depa_Nombre" class="control-label"></label>
                            <input asp-for="depa_Nombre" id="depa_Nombre_Edit" class="form-control" />
                            <label name="lbl_depa_Nombre_EditError" id="lbl_depa_Nombre_EditError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarModalEdit()" class="btn btn-success">Editar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $('#depa_Id_Edit').on('input', function () {
        var c = this.selectionStart,
            r = /[^0-9]/gi,
            v = $(this).val();
        if (r.test(v)) {
            $(this).val(v.replace(r, ''));
            c--;
        }
        this.setSelectionRange(c, c);
    });
</script>


<script>
    function AbrirModalEdit(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');

        $('#depa_Id_Edit').val(data[0]);
        $('#depa_Nombre_Edit').val(data[1]);
        $("#EditarDepartamento").appendTo('body').modal('show');
    };
</script>


<script>
    function GuardarModalEdit() {
        
        var depa_Id_Edit = $("#depa_Id_Edit").val();
        var depa_Nombre_Edit = $("#depa_Nombre_Edit").val();
        var x = true;


        if (depa_Id_Edit == "" || depa_Id_Edit == null) {
            $("#lbl_depa_Id_EditError").attr('hidden', false);
            x = false
        } else {
            $("#lbl_depa_Id_EditError").attr('hidden', true);
            if (depa_Id_Edit.length != 2) {
                $("#lbl_depa_Id_EditError1").attr('hidden', false);
                x = false
            } else {
                $("#lbl_depa_Id_EditError1").attr('hidden', true);
            }
        }

        if (depa_Nombre_Edit == null || depa_Nombre_Edit == "") {
            x = false
            $("#lbl_depa_Nombre_EditError").attr('hidden', false);
        } else {
            $("#lbl_depa_Nombre_EditError").attr('hidden', true);
        }

 
        if (x == true) {
            $("#formEdit").submit();
        }
    };

</script>
